.title-container {
  width: 100%;
  overflow: hidden;
  padding: 0px 0;
  background: var(--ion-color-primary);
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.animated-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  animation: slideTitle 10s linear infinite;
  white-space: nowrap;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

@keyframes slideTitle {
  0% {
    transform: translateX(-100%);
  }
  
  50% {
    transform: translateX(100%);
  }
  
  50.1% {
    transform: translateX(-100%);
  }
  
  100% {
    transform: translateX(-100%);
  }
}

.ion-text-center {
  margin: 20px; /* Espaciado alrededor del contenedor */
}

.attendance-message {
  margin: 15px 0; /* Espaciado arriba y abajo del mensaje */
  font-size: 18px; /* Tamaño de fuente del mensaje */
  color: #666; /* Color del texto */
}

/* Estilo opcional para el botón de cerrar sesión */
ion-button {
  margin-top: 20px; /* Espacio arriba del botón */
}

/* Estilos de hover para el botón */
ion-button:hover {
  background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
  color: #333; /* Color del texto al pasar el mouse */
}

/* Estilos de active para el botón */
ion-button:active {
  transform: scale(0.95); /* Efecto de pulsación al hacer clic */
}
