
.welcome-card {
  text-align: center;
  margin: 20px;
  --background: #f0f4f8;
}

ion-card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #004080;
}

ion-card-content p {
  font-size: 1.1em;
  color: #333;
}
