<ion-content>

  <div class="background-image" *ngIf="dino"></div>

  <ion-grid fixed *ngIf="dino" class="dino-content">
    <!-- Sección principal -->
    <div class="main-info">
      <ion-row class="header-row">
        <ion-col size="12">
          <h2 class="asignatura-title">{{ dino.nombreAsignatura }}</h2>
          <p class="profesor-info">{{ dino.nombreProfesor }}</p>
        </ion-col>
      </ion-row>
    </div>

    <!-- Detalles de la clase -->
    <div class="details-card">
      <ion-row class="info-row">
        <ion-col size="5" class="label">Sede</ion-col>
        <ion-col size="7" class="value">{{ dino.sede }}</ion-col>
      </ion-row>

      <ion-row class="info-row">
        <ion-col size="5" class="label">ID Asignatura</ion-col>
        <ion-col size="7" class="value">{{ dino.idAsignatura }}</ion-col>
      </ion-row>

      <ion-row class="info-row">
        <ion-col size="5" class="label">Sección</ion-col>
        <ion-col size="7" class="value">{{ dino.seccion }}</ion-col>
      </ion-row>

      <ion-row class="info-row">
        <ion-col size="5" class="label">Fecha</ion-col>
        <ion-col size="7" class="value">{{ dino.dia }}</ion-col>
      </ion-row>

      <ion-row class="time-info">
        <ion-col size="6">
          <div class="time-block">
            <span class="time-label">Inicio</span>
            <span class="time-value">{{ dino.horaInicio }}</span>
            <span class="block-value">Bloque {{ dino.bloqueInicio }}</span>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="time-block">
            <span class="time-label">Término</span>
            <span class="time-value">{{ dino.horaFin }}</span>
            <span class="block-value">Bloque {{ dino.bloqueTermino }}</span>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <!-- Mensaje de confirmación -->
    <div class="confirmation-badge">
      <ion-icon name="checkmark-circle"></ion-icon>
      <span>Asistencia Registrada</span>
    </div>
  </ion-grid>

  <div *ngIf="!dino" class="center-frame">
    <div class="picture-frame ion-text-center">
      <img class="you-must-scan" src="../../../assets/img/escanear_codigo_qr.jpg">
      <p>{{ 'MyClassInfo' | translate }}</p>
    </div>
  </div>

  
</ion-content>