<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-loading [isOpen]="isLoading" message="Cargando..."></ion-loading>
  
  <div id="mapId" style="height: 100%;"></div>
  
  <div *ngIf="addressName">
    <p>Dirección: {{ addressName }}</p>
  </div>
  
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-button shape="round" color="secondary" size="small" (click)="goToDUOC()">DUOC</ion-button>
    <ion-button shape="round" color="secondary" size="small" (click)="goToMyPosition()">Aquí</ion-button>
    <ion-button shape="round" color="secondary" size="small" (click)="showRouteToDuoc()">Ruta</ion-button>
    <ion-button shape="round" color="secondary" size="small" (click)="navegarMisDatos()">Mis datos</ion-button>

    <div *ngIf="distance">
      <br>{{ distance }}
    </div>
  </ion-toolbar>
</ion-footer>
