.error-card {
  margin: auto;
  max-width: 350px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

ion-card-title {
  color: #d9534f; /* Color de alerta */
  font-size: 5.5em;
  
}

ion-card-content p {
  font-size: 1.1em;
  color: #333;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.image-container img {
  max-width: 400px; /* Tamaño máximo de la imagen */
  height: auto;
  border-radius: 8px; /* Opcional: Bordes redondeados */
}