<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>incorrecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="error-card">
    <ion-card-header>
      <ion-card-title>Lo siento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Los datos esperados no fueron correctos.</p>
    </ion-card-content>
  </ion-card>
  <div class="image-container">
    <img src="../../../assets/img/abajo-pulgar.jpg" alt="">
  </div>

  <ion-content class="ion-padding">
    <div class="centered-button" >
      <ion-button expand="full" (click)="irALogin()" color="secondary">
        Volver al Login
      </ion-button>
    </div>
  </ion-content>
</ion-content>
