<app-header 
  (headerClick)="headerClick($event)">
</app-header>

<ion-content [fullscreen]="true">
  <app-qrwebscanner 
    *ngIf="selectedComponent === 'qrwebscanner' && !isAdmin" 
    (scanned)="webQrScanned($event)"
    (stopped)="webQrStopped()">
  </app-qrwebscanner >
  
  <app-welcome 
    *ngIf="selectedComponent === 'welcome' && !isAdmin">
  </app-welcome>

  <app-dinosaur 
    *ngIf="selectedComponent === 'mi-clase' && !isAdmin">
  </app-dinosaur>

  <app-forum 
    *ngIf="selectedComponent === 'forum'">
  </app-forum>

  <app-mis-datos 
    *ngIf="selectedComponent === 'mis-datos'">
  </app-mis-datos>

  <app-usuarios 
    *ngIf="selectedComponent === 'usuarios' && isAdmin">
  </app-usuarios>
</ion-content>

<app-footer
  (footerClick)="footerClick($event)">
</app-footer>