<app-header 
  (headerClick)="headerClick($event)">
</app-header>

<ion-content [fullscreen]="true">

  <app-qrwebscanner 
    *ngIf="selectedComponent === 'qrwebscanner'" 
    (scanned)="webQrScanned($event)"
    (stopped)="webQrStopped()">
  </app-qrwebscanner >
  
  <app-welcome 
    *ngIf="selectedComponent === 'codigo-qr'">
  </app-welcome>

  <app-dinosaur 
    *ngIf="selectedComponent === 'mi-clase'">
  </app-dinosaur>

  <app-forum 
    *ngIf="selectedComponent === 'forum'">
  </app-forum>

  <app-forum 
  *ngIf="selectedComponent === 'mis-datos'">
  </app-forum>

</ion-content>

<app-footer
  (footerClick)="footerClick($event)">
</app-footer>