<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="irALogin()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'RecoverPassword' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toast
    [isOpen]="showToast"
    [message]="toastMessage"
    duration="2000"
    (didDismiss)="showToast = false">
  </ion-toast>

  <ion-card *ngIf="showEmailInput">
    <ion-card-header>
      <ion-card-title>{{ 'RecoverPassword' | translate }}</ion-card-title>
      <ion-card-subtitle>{{ 'Step1EnterEmail' | translate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input id="email" type="email" [(ngModel)]="email" placeholder="{{ 'EnterYourEmail' | translate }}" required></ion-input>
      </ion-item>
      <ion-button class="enter-button normal-text" expand="full" (click)="verificarCorreo()">{{ 'VerifyEmail' | translate }}</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showSecretQuestion">
    <ion-card-header>
      <ion-card-title>{{ 'Step2AnswerSecret' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ secretQuestion }}</p>
      <ion-item>
        <ion-input id="password" type="text" [(ngModel)]="answer" placeholder="{{ 'Answer' | translate }}" required></ion-input>
      </ion-item>
      <ion-button class="enter-button-password normal-text" expand="full" (click)="verificarRespuesta()">{{ 'VerifyAnswer' | translate }}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content class="ion-padding">
  <div class="centered-button">
    <ion-button expand="full" (click)="irALogin()" color="secondary">
      {{ 'BackToLogin' | translate }}
    </ion-button>
  </div>
</ion-content>
