ion-card {
  margin-top: 20px;
  padding: 16px;
}

.titulo-recuperar {
  font-size: 1.4em;
  font-weight: bold;
  color: #3880ff; // Cambia este color si prefieres otro
  text-align: center;
}

.subtitulo-paso {
  font-size: 1.1em;
  color: #666666;
  text-align: center;
  margin-bottom: 12px;
}
.centered-button ion-button {
  width: 200px; /* Cambia el valor según lo que necesites */
  margin: 0 auto; /* Centra el botón */
}